@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);
@tailwind base;
@tailwind components;
@tailwind utilities;



.animate{
  animation: animate 1s;
}
@keyframes animate {
  0%{
    width: 0;
  }
  100%{
    width: 99%;
  }
}

.animate2{
  animation: animate2 1.2s;
}
@keyframes animate2 {
  100%{
    width: 0;
  }
  0%{
    width: 99%;
  }
}

.backdrop-shadow{
  filter: drop-shadow(2px 2px 20px blue);
}

.body{
  background: url(https://static.vecteezy.com/system/resources/previews/008/559/056/large_2x/contact-us-text-button-web-button-template-contact-us-vector.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: left left; */
  box-shadow: inset  0  0 0 1000px rgba(0, 0, 0, 0.199);
  /* filter: brightness(50%); */
  /* background-size: cover; */
}

.img {
  /* filter: blur(1); */
  cursor: pointer;
  animation: imgs 2s infinite alternate;
}

.img:hover{
  transform: rotate(0) perspective(90rem) rotateY(-0deg) rotateX(0deg);
  /* background-color: red; */
}

@keyframes imgs {
   0%{
    transform: rotate(0) perspective(90rem) rotateY(30deg) rotateX(-20deg);
  }
  100%{
    transform: rotate(0) perspective(90rem) rotateY(-30deg) rotateX(20deg);
  }
}



.loading::after{
  content: "";
  animation: loading 3s infinite;
}

@keyframes loading {
  0%{
    content: ".";
  }
  10%{
    content: "..";
  }30%{
    content: "...";
  }
  50%{
    content: "....";
  }
  100%{
    content: "......";
  }
}

.style{
  background: url(/bg.webp) no-repeat fixed ;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.493);
  @apply rounded-l-2xl
}


.OPT{
  animation: OPT 2s infinite;
}

@keyframes OPT {
  0%{
    transform: translateX(-900px);
  }
  100%{
    transform: translateX(2000px);
  }

}


.button{
  @apply bg-gray-700 duration-200 hover:bg-red-700 rounded-xl px-9 py-2 text-white;

}


.table td , .table , th , tr{
  @apply border-2 border-black px-5 py-3
}

table {
      width: 100%;
      border-collapse: collapse; /* Minimum width to allow horizontal scroll on mobile */
    }



.bg-blog{
  background: url(/git.webp);
  box-shadow: inset 0  0 0  1000px rgba(0, 0, 0, 0.507);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}    

